<!DOCTYPE html>
<meta charset="utf-8">
<style>

  .names {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
  }

  .marker {
    fill: #FF0000;
    fill-opacity: .75;
    transition: all .2s ease-in-out;
  }

    /* Tooltip CSS */
    .d3-tip {
    line-height: 1.5;
    font-weight: 400;
    font-family:"avenir next", Arial, sans-serif;
    padding: 6px;
    background: rgba(0, 0, 0, 0.6);
    color: #FFA500;
    border-radius: 1px;
    pointer-events: none;
    }

    /* Creates a small triangle extender for the tooltip */
    .d3-tip:after {      
      box-sizing: border-box;
      display: inline;
      font-size: 8px;
      width: 100%;
      line-height: 1.5;
      color: rgba(0, 0, 0, 0.6);
      position: absolute;
      pointer-events: none;
      
    }

    /* Northward tooltips */
    .d3-tip.n:after {
      content: "\25BC";
      margin: -1px 0 0 0;
      top: 100%;
      left: 0;
      text-align: center;
    }

    /* Eastward tooltips */
    .d3-tip.e:after {
      content: "\25C0";
      margin: -4px 0 0 0;
      top: 50%;
      left: -8px;
    }

    /* Southward tooltips */
    .d3-tip.s:after {
      content: "\25B2";
      margin: 0 0 1px 0;
      top: -8px;
      left: 0;
      text-align: center;
    }

    /* Westward tooltips */
    .d3-tip.w:after {
      content: "\25B6";
      margin: -4px 0 0 -1px;
      top: 50%;
      left: 100%;
    }

/*    text{
      pointer-events:none;
    }*/

    .details{
      color:white;
    }

</style>
<body>
<script src="http://d3js.org/d3.v4.min.js"></script>
<script src="http://d3js.org/queue.v1.min.js"></script>
<script src="http://d3js.org/topojson.v1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>
<script>
var format = d3.format(",");

// Set tooltips
var tip = d3.tip()
            .attr('class', 'd3-tip')
            .offset([-10, 0])
            .html(function(d) {
              return "<strong>Country: </strong><span class='details'>" + d.properties.name + "<br></span>" + "<strong>Population: </strong><span class='details'>" + format(d.population) +"</span>";
            })

var margin = {top: 0, right: 0, bottom: 0, left: 0},
            width = 960 - margin.left - margin.right,
            height = 500 - margin.top - margin.bottom;

var color = d3.scaleThreshold()
    .domain([10000,100000,500000,1000000,5000000,10000000,50000000,100000000,500000000,1500000000])
    .range(["rgb(247,251,255)", "rgb(222,235,247)", "rgb(198,219,239)", "rgb(158,202,225)", "rgb(107,174,214)", "rgb(66,146,198)","rgb(33,113,181)","rgb(8,81,156)","rgb(8,48,107)","rgb(3,19,43)"]);

var path = d3.geoPath();

var svg = d3.select("body")
            .append("svg")
            .attr("width", width)
            .attr("height", height)
            .append('g')
            .attr('class', 'map');

var projection = d3.geoMercator()
                   .scale(130)
                  .translate( [width / 2, height / 1.5]);

var path = d3.geoPath().projection(projection);

svg.call(tip);

queue()
    .defer(d3.json, "static/world_countries.json")
    .defer(d3.tsv, "static/world_population.tsv")
    .await(ready);

function ready(error, data, population) {
  var populationById = {};
  console.log("population ");
  population.forEach(function(d) { populationById[d.id] = +d.population; });
  data.features.forEach(function(d) { d.population = populationById[d.id] });

  svg.append("g")
      .attr("class", "countries")
    .selectAll("path")
      .data(data.features)
    .enter().append("path")
      .attr("d", path)
      .style("fill", function(d) { return color(populationById[d.id]); })
      .style('stroke', 'white')
      .style('stroke-width', 1.5)
      .style("opacity",0.8)
      // tooltips
        .style("stroke","white")
        .style('stroke-width', 0.3)
        .on('mouseover',function(d){
          tip.show(d);

          d3.select(this)
            .style("opacity", 1)
            .style("stroke","white")
            .style("stroke-width",3);
        })
        .on('mouseout', function(d){
          tip.hide(d);

          d3.select(this)
            .style("opacity", 0.8)
            .style("stroke","white")
            .style("stroke-width",0.3);
        });

  svg.append("path")
      .datum(topojson.mesh(data.features, function(a, b) { return a.id !== b.id; }))
       // .datum(topojson.mesh(data.features, function(a, b) { return a !== b; }))
      .attr("class", "names")
      .attr("d", path);
}

var countries = getCountries();

var features = countries.features;
	
	// Top countries
	var values = features.map( function(d) {
		return [
			+d.geometry.properties.value,
			d.geometry.properties.countryCode
		]
	});
  
  
// Markers
for (var j = 0; j < features.length; j++) {
  
  // check if has value and draw line
  if (features[j].geometry.properties.value > 0) {
    
    var v = features[j].geometry.properties.value;
    var vSize = d3.scaleLinear()
          .domain([0,25])
          .range([0.5,8]);
    var vOp = d3.scaleLinear()
          .domain([0,25])
          .range([0.25,0.75]);
    
    // Random colour
    var randColour = ['#31558d', '#c52b2d'][Math.floor(Math.random() * 2)];			
    
    var x = projection(features[j].geometry.coordinates)[0],
      y = projection(features[j].geometry.coordinates)[1];
    
    var marker = svg.append("svg:path")
      .attr("class", "marker")
      .attr("d", "M0,0l-8.8-17.7C-12.1-24.3-7.4-32,0-32h0c7.4,0,12.1,7.7,8.8,14.3L0,0z")
      .attr("transform", "translate(" + x + "," + y + ") scale(0)")
      .transition()
      .delay(400)
      .duration(800)
      .attr("transform", "translate(" + x + "," + y + ") scale(.75)");
    
    var cc = features[j].geometry.properties.countryCode;
    
    svg.append("svg:text")
      .attr("x", x)
      .attr("y", y)
      .attr("dx", ".5em")
      .attr("dy", ".35em")
      .text(cc)
      .attr("class", "cc");
  }
  

}


function getCountries() { 
	return {
		"type": "FeatureCollection",
		"features": [
			{
				"type": "Feature",
				"id": "1",
				"geometry": {
					"type": "Point",
					"coordinates": [
						"55.30472",
						"25.25817"
					],
					"properties": {
						"name": "United Arab Emirates",
						"countryCode": "AE",
						"value": "1.19"
					}
				}
			},
			{
				"type": "Feature",
				"id": "8",
				"geometry": {
					"type": "Point",
					"coordinates": [
						"-65",
						"-35"
					],
					"properties": {
						"name": "Argentina",
						"countryCode": "AR",
						"value": "0.03"
					}
				}
			},
			{
				"type": "Feature",
				"id": "12",
				"geometry": {
					"type": "Point",
					"coordinates": [
						"134.0",
						"-25.0"
					],
					"properties": {
						"name": "Australia",
						"countryCode": "AU",
						"value": "10.64"
					}
				}
			},
			{
				"type": "Feature",
				"id": "30",
				"geometry": {
					"type": "Point",
					"coordinates": [
						"-52",
						"-10"
					],
					"properties": {
						"name": "Brazil",
						"countryCode": "BR",
						"value": "0.20"
					}
				}
			},
			{
				"type": "Feature",
				"id": "37",
				"geometry": {
					"type": "Point",
					"coordinates": [
						"-112.0",
						"60.0"
					],
					"properties": {
						"name": "Canada",
						"countryCode": "CA",
						"value": "4.17"
					}
				}
			},
			{
				"type": "Feature",
				"id": "47",
				"geometry": {
					"type": "Point",
					"coordinates": [
						"103.7",
						"34.7"
					],
					"properties": {
						"name": "China",
						"countryCode": "CN",
						"value": "2.59"
					}
				}
			},
			{
				"type": "Feature",
				"id": "50",
				"geometry": {
					"type": "Point",
					"coordinates": [
						"-82.38304",
						"23.13302"
					],
					"properties": {
						"name": "Cuba",
						"countryCode": "CU",
						"value": "0"
					}
				}
			},
			{
				"type": "Feature",
				"id": "56",
				"geometry": {
					"type": "Point",
					"coordinates": [
						"10.0",
						"51.0"
					],
					"properties": {
						"name": "Germany",
						"countryCode": "DE",
						"value": "4.57"
					}
				}
			},
			{
				"type": "Feature",
				"id": "67",
				"geometry": {
					"type": "Point",
					"coordinates": [
						"-3.70256",
						"40.4165"
					],
					"properties": {
						"name": "Spain",
						"countryCode": "ES",
						"value": "2.95"
					}
				}
			},
			{
				"type": "Feature",
				"id": "74",
				"geometry": {
					"type": "Point",
					"coordinates": [
						"2.5",
						"46.5"
					],
					"properties": {
						"name": "France",
						"countryCode": "FR",
						"value": "4.37"
					}
				}
			},
			{
				"type": "Feature",
				"id": "88",
				"geometry": {
					"type": "Point",
					"coordinates": [
						"23.71622",
						"37.97945"
					],
					"properties": {
						"name": "Greece",
						"countryCode": "GR",
						"value": "0.68"
					}
				}
			},
			{
				"type": "Feature",
				"id": "104",
				"geometry": {
					"type": "Point",
					"coordinates": [
						"79",
						"23"
					],
					"properties": {
						"name": "India",
						"countryCode": "IN",
						"value": "1.20"
					}
				}
			},
			{
				"type": "Feature",
				"id": "108",
				"geometry": {
					"type": "Point",
					"coordinates": [
						"-18",
						"65"
					],
					"properties": {
						"name": "Iceland",
						"countryCode": "IS",
						"value": "0.13"
					}
				}
			},
			{
				"type": "Feature",
				"id": "114",
				"geometry": {
					"type": "Point",
					"coordinates": [
						"36.8166667",
						"-1.2833333"
					],
					"properties": {
						"name": "Kenya",
						"countryCode": "KE",
						"value": "0.14"
					}
				}
			},
			{
				"type": "Feature",
				"id": "173",
				"geometry": {
					"type": "Point",
					"coordinates": [
						"-76",
						"-10"
					],
					"properties": {
						"name": "Peru",
						"countryCode": "PE",
						"value": "0.06"
					}
				}
			},
			{
				"type": "Feature",
				"id": "196",
				"geometry": {
					"type": "Point",
					"coordinates": [
						"17",
						"64"
					],
					"properties": {
						"name": "Sweden",
						"countryCode": "SE",
						"value": "1.24"
					}
				}
			},
			{
				"type": "Feature",
				"id": "217",
				"geometry": {
					"type": "Point",
					"coordinates": [
						"100.50144",
						"13.75398"
					],
					"properties": {
						"name": "Thailand",
						"countryCode": "TH",
						"value": "0.62"
					}
				}
			},
			{
				"type": "Feature",
				"id": "224",
				"geometry": {
					"type": "Point",
					"coordinates": [
						"32.8542709350586",
						"39.9198743755027"
					],
					"properties": {
						"name": "Turkey",
						"countryCode": "TR",
						"value": "0.30"
					}
				}
			},
			{
				"type": "Feature",
				"id": "233",
				"geometry": {
					"type": "Point",
					"coordinates": [
						"-100.7",
						"40.1"
					],
					"properties": {
						"name": "United States",
						"countryCode": "US",
						"value": "28.77"
					}
				}
			},
			{
				"type": "Feature",
				"id": "240",
				"geometry": {
					"type": "Point",
					"coordinates": [
						"106.62965",
						"10.82302"
					],
					"properties": {
						"name": "Vietnam",
						"countryCode": "VN",
						"value": "0.10"
					}
				}
			},
			{
				"type": "Feature",
				"id": "247",
				"geometry": {
					"type": "Point",
					"coordinates": [
						"24",
						"-31"
					],
					"properties": {
						"name": "South Africa",
						"countryCode": "ZA",
						"value": "1.84"
					}
				}
			}
		]
	}
}
</script>
</body>
</html>